<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
      crossorigin="anonymous"
    />
    <title>KMC E-Commerce</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">KMC Solutions</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>

      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="../public/images/Armstrong Office.jpg"
                alt="Armstrong Office"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Product 1</h2>
              </a>
              <div class="rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="../public/images/Armstrong Office.jpg"
                alt="Armstrong Office"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Product 1</h2>
              </a>
              <div class="rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="../public/images/Armstrong Office.jpg"
                alt="Armstrong Office"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Product 1</h2>
              </a>
              <div class="rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="../public/images/Armstrong Office.jpg"
                alt="Armstrong Office"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Product 1</h2>
              </a>
              <div class="rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="../public/images/Armstrong Office.jpg"
                alt="Armstrong Office"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Product 1</h2>
              </a>
              <div class="rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="../public/images/Armstrong Office.jpg"
                alt="Armstrong Office"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Product 1</h2>
              </a>
              <div class="rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star-half-alt"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">
        <small>All rights reserved.</small>
      </footer>
    </div>
  </body>
</html>
