@font-face {
  font-family: "Proxima";
  src: url("./fonts/PROXIMANOVA-REGULAR.OTF");
}
@font-face {
  font-family: "Proxima-Semibold";
  src: url("./fonts/PROXIMANOVA-SEMIBOLD.OTF");
}
@font-face {
  font-family: "Proxima-Extrabold";
  src: url("./fonts/PROXIMANOVA-EXTRABOLD.OTF");
}

:root {
  --primary-orange: #f99d3a;
  --paragraph-color: #333333;
}

html {
  font-size: 1 rem;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1rem;
  font-family: "Proxima", Fallback, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--paragraph-color);
}

#root {
  height: 100%;
}

/*Layout*/
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5em 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #000;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #000;
  color: #fff;
}

/*Common*/
h1 {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 0;
  font-family: "Proxima-Extrabold", Fallback, sans-serif;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 0;
  font-family: "Proxima-Semibold", Fallback, sans-serif;
}
h3 {
  font-size: 1.1rem;
  line-height: 1.2;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}
.title-centered {
  text-align: center;
  margin-bottom: 1rem;
}
.orange-text {
  color: var(--primary-orange);
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--primary-orange);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
/*Buttons*/
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.2rem;
  font-family: "Proxima-Semibold", Fallback, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #fccb44;
  border-color: #fccb44;
}
button.primary:hover {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}
.link {
  margin-bottom: 1rem;
  display: block;
}
/*Paddings and Margins*/
.mt-5 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mb-5 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
/*Header*/
header a {
  color: #fff;
  padding: 1rem;
}
.brand {
  height: 30px;
  width: auto;
}
.kv {
  background-image: url("./branding/Key-Visual.jpg");
  height: 500px;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container-fluid {
  padding: 60px 0;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
  margin-right: 1rem;
}
.min-30 {
  min-width: 30rem;
}
/*Images*/
img {
  /* border-radius: 0.5rem 0.5rem 0 0; */
  border-radius: 0.25rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 300px;
  width: 100%;
}
img.large {
  width: 100%;
}

/*Card*/
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.25rem;
  margin: 1rem 1rem 1rem 0;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.card-product {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.25rem;
  margin: 1rem;
}
.price {
  font-size: 1.1rem;
  font-family: "Proxima-Semibold", Fallback, sans-serif;
}
/*Rating*/
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #333333;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 10rem;
  padding: 1rem;
  z-index: 1;
  background-color: #000000;
  margin: 0;
  margin-top: 1rem;
  border-radius: 0.2rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
